.sidebar {
  width: 100%;
  background-color: rgba(243, 243, 243, 1);
  padding: 32px 20px;

  position: sticky;
  top: 40px;
  height: calc(100vh - 40px);
  z-index: 1;
}

.sidebar__user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 40px;
  padding-top: 67px;
  padding-left: 20px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e5e5e5;
}

.sidebar__name {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}

.sidebar__button {
  background: none;
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
  transition: opacity 0.2s ease;
}

.sidebar__button:hover {
  opacity: 0.7;
}

.sidebar__button_logout {
  background: none;
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  padding: 0;
  margin-left: 20px;
  text-align: left;
  transition: opacity 0.2s ease;
}

.sidebar__button_logout:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;

    height: auto;
    position: relative;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
  }
  .sidebar__user {
    padding-top: 0;
  }
}
