.toggleSwitch {
  position: relative;
  display: inline-block;
}

.toggleSwitchCheckbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSwitchLabel {
  width: clamp(56px, 12vw, 84px);
  height: 28px;

  box-sizing: border-box;

  display: grid;
  place-items: center;
  cursor: pointer;
  background: #fff;
  border-radius: 9999px;
  position: relative;
  transition: background-color 0.2s ease;
  border: 2px solid rgba(126, 126, 126, 1);
  padding: 0;
}

.toggleSwitchBackground {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: inherit;
  background: transparent;
  z-index: 2;
}

.toggleSwitchF,
.toggleSwitchC {
  font-family: "CabinetGrotesk-Medium", sans-serif;
  font-size: clamp(12px, 1.9vw, 14px);
  font-weight: 500;
  line-height: 1;
  transition: color 0.2s ease;
  user-select: none;
}

.toggleSwitchButton {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(50% - 4px);
  height: calc(100% - 4px);
  border-radius: 9999px;
  background: #000;
  z-index: 1;
  transition: transform 0.2s ease;
  transform: translateX(0%);
}

.toggleSwitchCheckbox:not(:checked) + .toggleSwitchLabel .toggleSwitchF {
  color: #fff;
}
.toggleSwitchCheckbox:not(:checked) + .toggleSwitchLabel .toggleSwitchC {
  color: #000;
}

.toggleSwitchCheckbox:checked + .toggleSwitchLabel .toggleSwitchButton {
  transform: translateX(100%);
}
.toggleSwitchCheckbox:checked + .toggleSwitchLabel .toggleSwitchF {
  color: #000;
}
.toggleSwitchCheckbox:checked + .toggleSwitchLabel .toggleSwitchC {
  color: #fff;
}

.toggleSwitchLabel:active .toggleSwitchButton {
  filter: brightness(0.9);
}
